.resizeIcon {
    width: 30px;
    height: 30px;
    position: absolute;
    top: -11px;
    left: calc(100% + 2px);
    cursor: nwse-resize;
}

.paddedObjectBlock {
    position: absolute;
    padding: 10px;
    margin: -10px;
}

.objectBlock {
    position: absolute;
}