.menu {
    width: 420px;
    height: auto;
    background: rgba(2,11,28,0.94);
    box-shadow: 0 12px 19px 11px rgba(0,0,0,0.50);
    border-radius: 17.02px; 
    position: absolute;
    z-index: 998;
    transition: 0.1s;
    box-sizing: border-box;
    padding: 20px;
    padding-bottom: 20px;
}

.menu__item {
    width: 100%;
    height: auto;
    cursor: pointer;
    margin-top: 15px;
}

.menu__item_p {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    line-height: 16px;
}

.menu__item_p:hover {
    color: #ce458c;
}

.menu_showed {
    display: block;
}

.menu_hidden {
    display: none;
}