.instrumentsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  cursor: pointer;
}

.instrumentsButton:first-child {
    margin-left: 0;
}

.instrumentsButton__img {
  width: 35px;
  height: 35px;
}

