.shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.753);
    z-index: 999;
    top: 0;
    left: 0;
}

.palette {
    width: 550px;
    height: 300px;
    position: absolute;
    z-index: 1000;
    background-color: #f5f8ff;
    top: calc(50% - 165px);
    left: calc(50% - 305px);
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

.palette__heading {
    color: #000;
    font-size: 23px;
    font-weight: 400;
}

.palette__colorBlocksList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.shadow_hidden, .palette_hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s linear;
}

.shadow_visible, .palette_visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.1s linear;
}

.palette__closeIcon {
    position: relative;
    top: 15px;
    left: calc(100% - 35px);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.colorsInput {
    width: 50px;
    height: 40px;
    margin-left: 30px;
    cursor: pointer;
    border: 0;
}

.changeColorBlock {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.applyBtn {
    margin-left: 30px;
    background: #dbdde6;
    /* border: 2px solid #dadadb; */
    border: 0;
    padding: 10px;
    border-radius: 10px;
}