.slideCarousel {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    overflow-y: scroll;
    position: relative;
    min-width: 320px;
    padding-top: 25px;
    background: #192232;
    box-shadow: 0 6px 17px 6px rgba(0, 0, 0, 0.5);
    border-radius: 47px;
    overflow-x: visible;
}

.slideCarouselItem p {
    color: #fff;
    font-size: 17px;
}

.slideMiniature {
    width: 90%;
    height: 100%;
    /* border: 3px solid #afafaf; */
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.slideCarouselItem {
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
    border-top: 3px solid transparent;
    padding-top: 20px;
}

.activeItem {
    border: 3px solid #F02277;
}
