.slideCarousel {
  width: 20%;
  height: 100%;
  border-right: 1px solid #afafaf;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  /* padding: 40px 0; */;
  overflow-y: scroll;
}

.slideMiniature {
  width: calc(100% - 30px + 2px);
  height: calc(100% + 2px);
  border: 2px solid #afafaf;
  border-radius: 10px;
  position: relative;
  /* box-sizing: border-box; */
}

.slideCarouselItem {
  width: 80%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 25px;
  margin-top: 50px;
}

.activeMiniature {
  border: 2px solid #fcacac;
}