.slideCarousel {
  width: 20%;
  height: 100%;
  border-right: 1px solid #afafaf;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  overflow-y: scroll;
  position: relative;
  min-width: 320px;
  padding-top: 25px;
}

.slideMiniature {
  width: 250px;
  height: 156px;
  border: 2px solid #afafaf;
  border-radius: 10px;
  position: relative;
}

.slideCarouselItem {
  width: 280px;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
  border-top: 2px solid transparent;
  box-sizing: content-box;
  padding-top: 20px;
}

.activeMiniature {
  border: 2px solid #fcacac;
  overflow: hidden;
}