.slideViewport {
    display: flex;
    justify-content: center;
    width: 100%;
}

.slide {
    border-radius: 30px;
    position: relative;
    transition: 0.1s;
    box-shadow: 0 9px 17px 9px rgba(0, 0, 0, 0.5);
    border-radius: 33px;
    box-sizing: border-box;
}

.choosedObject {
    border: 2px solid red;
}
