.slideViewport {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}

.slide {
    border-radius: 30px;
    border: 1px solid #adadad;
    position: relative;
    transition: 0.1s;
    border: 1px solid #979797;
    box-shadow: 0 9px 17px 9px rgba(0, 0, 0, 0.5);
    border-radius: 33px;
}

.choosedObject {
    border: 2px solid red;
}
