.slideViewport {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}

.slide {
    border-radius: 5px;
    border: 1px solid #adadad;
    position: relative;
    transition: 0.1s;
}

.choosedObject {
    border: 2px solid red;
}
