.instrumentsButton {
  height: 75%;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}

.instrumentsButton__img {
  height: 100%;
  width: 100%;
}

.instrumentsButton:first-child {
  margin-right: 30px;
}